<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLinkActive]="'active'" [routerLink]="'status'">Indexer Status</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLinkActive]="'active'" [routerLink]="'queue'">Actions Queue</a>
    </li>
</ul>
<router-outlet></router-outlet>
<div class="footer mt-5 pt-5 pb-3">
    Developed by <a href="https://art3mis.cloud">ART3MIS.CLOUD</a>
    <br>
    Source code: <a href="https://github.com/a3mc/graph-queue-monitor">Github</a>
    <br>
    A3MC &copy; 2023
</div>
